################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/BottleWebProject2/FileContentIndex/26bc2ed7-b4df-40f6-88df-17ef3b673147.vsidx
/.vs/BottleWebProject2/FileContentIndex/75ef8ece-8ae0-42f2-add0-8c08597a16b4.vsidx
