################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/BottleWebProject2/FileContentIndex/26bc2ed7-b4df-40f6-88df-17ef3b673147.vsidx
