################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/BottleWebProject2/FileContentIndex/26bc2ed7-b4df-40f6-88df-17ef3b673147.vsidx
/.vs/BottleWebProject2/FileContentIndex/75ef8ece-8ae0-42f2-add0-8c08597a16b4.vsidx
/.vs/BottleWebProject2/FileContentIndex/80638da2-7a46-4d08-b0ff-88d11f0ddf86.vsidx
/.vs/BottleWebProject2/FileContentIndex/cbf149d7-76c1-4595-b194-e39d44e686d9.vsidx
/.vs/BottleWebProject2/FileContentIndex/bfa70c71-6af1-4d3f-83f0-24bc4c66832f.vsidx
/.vs/BottleWebProject2/FileContentIndex/1930bd58-d972-4f6c-b40a-ea1e55b30e90.vsidx
/.vs/BottleWebProject2/FileContentIndex/9a5677cf-d485-4eea-bb1c-e7296178eb0b.vsidx
