body {
    font-family: 'Perpetua';
    background-color: #ffffff; /* Чисто белый цвет фона */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.texttt {
    text-decoration: none;
    text-align: center;
    font-size: 120px;
    color: #000000;
    letter-spacing: .05em
}

.links {
    text-align: center;
    margin: 20px 10px; /* увеличенное расстояние между ссылками */
}

    .links a {
        display: inline-block;
        font-size: 20px;
        color: #333;
        text-decoration: none;
        margin: 0 10px;
    }

.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.item {
    width: 500px; /* Фиксированная ширина карточки */
    height: 600px;
    margin-bottom: 10px;
    margin-right: 2px; /* Расстояние между карточками */
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden; /* Скрытие частей контента, выходящего за границы карточки */
}

    .item p {
        margin: 0;
    }




.item-content {
    position: relative;
}

    .item-content img {
        width: 100%;
        max-height: 20%;
        object-fit: contain; /* Сохранение пропорций и вписывание изображения в блок */
        display: block;
        margin: 0;
    }

.product-name {
    color: #000; /* Черный цвет текста */
    font-size: 18px; /* Подстройте размеры шрифта под ваши требования */
    text-align: center;
    padding: 2px; /* Подстройте отступы под ваши требования */
}

.product-price {
    color: #000; /* Черный цвет текста */
    font-size: 18px; /* Подстройте размеры шрифта под ваши требования */
    text-align: center;
    padding: 2px;
    font-weight: bold; /* Жирный шрифт */
}

.item-link {
    display: block;
    text-decoration-color: black;
    color: inherit; /* Используем цвет обычного текста */
}

    .item-link:hover {
        text-decoration: none; /* Убираем подчеркивание при наведении */
    }

.item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.love-icon {
    position: absolute;
    top: 10px; /* Расположение вверху */
    left: 200px; /* Расположение справа */
    width: 30px; /* Ширина иконки */
    height: 30px; /* Высота иконки */
    z-index: 1; /* Чтобы иконка была поверх основного изображения */
}


footer {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    width: 100%;
    margin-bottom: 5%;
}

footer.separator {
        margin: 5%, 0;
    }

footer a {
        font-size: 150%;
        margin: 10px;
    }

.container-links {
    margin-top: 5%;
}
